# Importing useful libraries

In [1]:
import pandas as pd # For dataframe related tasks
import numpy as np # For numerical related tasks

import nltk # For natural language related tasks

# For data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Data fetching

In [21]:
# Reading the data

df = pd.read_csv('../data/spam.csv',encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

# Data Cleaning

In [22]:
# Let us drop the last 3 columns

del_columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4']
df = df.drop(columns = del_columns)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [23]:
# Now let us change the column names

df = df.rename(columns = {
                        'v1':'target',
                        'v2':'message'    
                         })
df.head()

  target                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [24]:
# Let us see how many rows and columns our dataset has

df.shape

(5572, 2)

In [25]:
# Let us see info of our dataset

df.describe()

       target                 message
count    5572                    5572
unique      2                    5169
top       ham  Sorry, I'll call later
freq     4825                      30

In [27]:
# Let us change the ham,spam into 0,1

df['target'] = df['target'].apply(lambda x: 0 if x == 'ham' else 1)
df.head(5)

   target                                            message
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [28]:
# Let us see if there are any missing values

df.isna().sum()

target     0
message    0
dtype: int64

In [30]:
# Let us check if there are any duplicates

df.duplicated().sum()

403

In [31]:
# Let us drop these duplicates

df = df.drop_duplicates(keep = 'first')
df.shape

(5169, 2)